*{
    padding: 0;
    margin: 0;

}
.logo{
    font-size: 30px;
    font-weight: 800;
    color: white;
}
.hero{
    background-image: url("hero.jpg");
    background-position: absolute;
    background-size: cover;
}
.navbar-end{
    color: white;
}